In [1]:
tuple1 = ('Rizwan',12,2.4)

In [2]:
tuple1

('Rizwan', 12, 2.4)

In [4]:
tuple1 +('Ejaz',1,2,3)

('Rizwan', 12, 2.4, 'Ejaz', 1, 2, 3)

In [5]:
tuple1[0]

'Rizwan'

In [8]:
print(tuple1[1])
print(tuple1[2])

12
2.4

In [9]:
print(tuple1[-1])

2.4

In [10]:
print(tuple1[-2])

12

In [11]:
tuple1[2:3]

(2.4,)

In [12]:
tuple1[0:3]

('Rizwan', 12, 2.4)

In [13]:
tuple1[:3]

('Rizwan', 12, 2.4)

In [14]:
tuple1[3:]

()

In [15]:
len(tuple1)

3

In [17]:
tuple2 = (1,2,3)

In [18]:
tuple2

(1, 2, 3)

In [19]:
tuple1 = tuple2

In [20]:
sorted(tuple2)

[1, 2, 3]

In [22]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [23]:

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [25]:
print(NestedT[2][1][0])
print(NestedT[2][1][1])

r
o